@charset "UTF-8";
html, body{
	font-family: '맑은 고딕' !important;
	font-size: 14px;
	height: 100%;
}
a:link { color: #ddd; text-decoration: none;}
a:visited { color: #ddd; text-decoration: none;}
a:hover { color: #fff; text-decoration: none;}

.float-right{
	float: right !important;
}
.float-left{
	float: left !important;
}

.fs-10{
	font-size: 10px !important;
}
.fs-11{
	font-size: 11px !important;
}
.fs-12{
	font-size: 12px !important;
}
.fs-13{
	font-size: 13px !important;
}
.fs-14{
	font-size: 14px !important;
}
.fs-15{
	font-size: 15px !important;
}
.fs-16{
	font-size: 16px !important;
}
.fs-17{
	font-size: 17px !important;
}
.fs-18{
	font-size: 18px !important;
}
.fs-19{
	font-size: 19px !important;
}
.fs-20{
	font-size: 20px !important;
}

.mt-10{
	margin-top: 10px !important;
}
.mb-10{
	margin-bottom: 10px !important;
}
.ml-10{
	margin-left: 10px !important;
}
.mr-10{
	margin-right: 10px !important;
}

.mt-5px{
	margin-top: 5px !important;
}
.mb-5px{
	margin-bottom: 5px !important;
}
.ml-5px{
	margin-left: 5px !important;
}
.mr-5px{
	margin-right: 5px !important;
}

.p-10{
	padding: 10px !important;
}
.pt-10{
	padding-top: 10px !important;
}
.pb-10{
	padding-bottom: 10px !important;
}
.pl-10{
	padding-left: 10px !important;
}
.pr-10{
	padding-right: 10px !important;
}
.p-5{
	padding: 5px !important;
}

.pt-20{
	padding-top: 20px !important;
}
.pb-20{
	padding-bottom: 20px !important;
}
.pl-20{
	padding-left: 20px !important;
}
.pr-20{
	padding-right: 20px !important;
}


.header{
	height: 80px;
	background: #093687;
	margin-bottom: 20px;
}
.header section span:nth-child(1){
	font-size: 30px;
	color: #ddd;
	font-weight: 800;
	font-family: '맑은 고딕';
	line-height: 250%;
	float: left;
}
.header section span:nth-child(n+2){
	font-size: 20px;
	color: #ddd;
	font-weight: 800;
	font-family: '맑은 고딕';
	line-height: 390%;
	margin-left: 20px;
	float: left;
}

.pushFooter{
	height: 250px;
}
.footer{
	clear: both;
	height: 250px;
	background: #091325;
	width: 100%;
}

.footer section p:nth-child(1){
	font-size: 30px;
	color: #ddd;
	font-weight: 800;
	font-family: '맑은 고딕';
	margin-top: 40px;
}
.footer section p:nth-child(1) span:nth-child(2){ padding-left: 30px; }
.footer section p:nth-child(n+2){
	font-size: 20px;
	color: #ddd;
	font-weight: 800;
	font-family: '맑은 고딕';
	margin-left: 100px;
}

#wrapbody{
	min-height: 100%;
	margin: 0 auto -250px;
}
.nop{ padding-left: 0 !important; padding-right: 0 !important; }
.nolp{ padding-left: 0 !important; }
.norp{ padding-right: 0 !important; }

tr.initASKtr, tr.initBIDtr{
	font-size: 16px; 
	color: #1a2436;
	height: 30px;
	border-left: 0px !important;
}
tr.initASKtr td:nth-child(1), tr.initBIDtr td:nth-child(1){ border-left: none !important; width: 34%; }
tr.initASKtr td:nth-child(2), tr.initBIDtr td:nth-child(2){ border-left: none !important; width: 33%; }
tr.initASKtr td:nth-child(3), tr.initBIDtr td:nth-child(3){ border-right: none !important; width: 33%; }
tr.initASKtr:nth-child(8) td{ border-bottom: none !important; }
tr.initBidtr:nth-child(1) td{ border-top: none !important; }

table#askTable tr:nth-child(8) td{ border-bottom: none !important; }
table#bidTable tr:nth-child(1) td{ border-top: none !important; }
table#bidTable tr:nth-child(8) td{ border-bottom: none !important; }


table#askTable, table#bidTable{
	width: 100%;
	background: #1a2436;
	border-collapse: collapse;
}
table#askTable tr, table#bidTable tr{ height: 30px; }
table#askTable tr td, table#bidTable tr td { border: 1px solid rgba(255, 255, 255, .1); }

table#bidTable td.tradePrice, table#askTable td.tradePrice{
	width: 33%;
	text-align: center;
}
table#bidTable td.tradePrice{ color: #c34042; }
table#askTable td.tradePrice{ color: #0966c6; }

table#bidTable td.tradeVolume, table#askTable td.tradeVolume{
	width: 33%;
	text-align: right;
	border-right: none !important;
	padding-right: 10px;
}
table#bidTable td.tradeVolume{ color: #c34042; }
table#askTable td.tradeVolume{ color: #0966c6; }

td.tradeTime{
	width: 34%;
	text-align: left;
	color: #eee;
	padding-left: 10px;
	border-left: 0px !important;
}
td.tradeId{ display: none; }
td.tradeAskbid{ display: none; }

div#barWrap, div#barWrap-item{
	width: 100%;
	height: 30px;
	background: #0966c6;
	margin: 0px;
	padding: 0px;
	color: #DDD;
	font-weight: 700;
	
	vertical-align: middle;
} 
div#barWrap-item{height: 16px !important; }

div#barBid, div#barBid-item{
	background: #c34042;
	width: 1%;
	height: 100%;
	display: inline-block;
	color: #DDD;
	font-weight: 700;
	vertical-align: top;
}
div#barAsk, div#barAsk-item{
	height: 100%;
	color: #DDD; 
	text-align: right;
	font-weight: 700;
}
div#coinItemRight{
	align-items: center;
	padding-top: 4px;
}

div#infoL{
	/* [21-05-06] 'background: #091325'의 대체로 darkBluePane이라는 class를 만들엇음. 
	   padding또한 'padding: 10px'을 공통으로 사용할 'p-10' class를 만들었음.
	*/
/* 	padding-top: 10.5px;
	padding-bottom: 10.5px; */
	font-weight: 700;
}

div#infoL span{ color: #eee; }
span#bidVolumeSpan{ text-align: left; }
span#askVolumeSpan{ text-align: right; }

span#bidVolumeSpan-item{ text-align: left; line-height: 100%; font-size: 12px; }
span#askVolumeSpan-item{ text-align: right; line-height: 100%; font-size: 12px; }
span#bidVolumePerSpan-item{
	text-align: left;
	/* line-height: 100%; */
	/* top: -28px; */
	font-size: 12px;
	position: relative;
    top: -20px;
    padding-left: 3px;
}
span#askVolumePerSpan-item{ 
	text-align: right; 
	/* line-height: 100%;  */
	/* top: -28px; */
	top: -20px;
	font-size: 12px;
	position: relative;
    
    padding-right: 3px;
}

div.coinItem{
	/* border: 1px solid rgba(190, 190, 190,0.5);
	border-radius: 4px; */
	
	/* [21-05-06] 보다 상위 div에 darkBluePane 클래스를 추가하여 사용 */
	/* background: #091325; */
	height: 50px;
	
	align-items: center;
	
	padding-top: 2px;
}
div.coinItem span{
	color: #eee;
}
div.coinItem span.marketName, div.coinItem span.marketName{
	line-height: 22px !important;
}
.marketPrice{
	font-size: 12px;
}

div.selectedItem{
	background: #888;
}

/* 차트 캔들색상(fill) + 외곽선(stroke) 색상 수정 */
.highcharts-point-up{
	stroke: #c34042;
	fill: #c34042;
}
.highcharts-point-down{
	stroke: #0966c6;
	fill: #0966c6;
}

/* 패널의 공통속성 css */
.greyPane{
	background-color: #1a2436;
}
.darkBluePane{
	background-color: #091325;
}

#tableCoinOpenValue, #tableCoinHighValue, #tableCoinLowValue{
	text-align: right;
}
#tableCoinHighValue{ 
	color: #c34042 !important;
}
#tableCoinLowValue{
	color: #0966c6 !important;
}

.tableVolumeSpan{
	top:-26px;
	margin-bottom: -10px;
}
.tableVolumeSpan span:nth-child(1) { padding-left: 5px; }
.tableVolumeSpan span:nth-child(2) { padding-right: 5px; }

.coinItem:nth-child(2n-1) {
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
.coinItem:last-child {
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.serch{
	color: #eee;
	height: 40px;
	border-bottom: 1.3px solid #fff;
}
@media (min-width: 768px){ #clearBtnIcon{left: 95px;} }
/* @media (min-width: 992px){ #clearBtnIcon{left: 175px;} } */
@media (min-width: 992px){ #clearBtnIcon{left: 210px;} }
@media (min-width: 1200px){ #clearBtnIcon{left: 210px;} }
/* @media (min-width: 1400px){ #clearBtnIcon{left: 253px;} } */

div.search{
	padding-top: 2px;
	height: 38px;
}
#searchCoinText{
 	background-color: #091325;
 	color : #eee;
	width: 87%;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
}
#searchIcon{position: relative; top: 3px;}

.clearInput{
	border:none;
}
.clearInput:focus {
	border: 1.5px solid rgba(255,255,255,1); 
	border-radius: 5px;
}
.clearInput::placeholder{
	color : rgba(238,238,238,0.9);
}
#clearBtn{display: none;}
#clearBtnIcon{
	top: -26px;
	font-size: 23px;
	vertical-align: middle;
}

/* @media (min-width: 1400px){ .removeItemBtn{left: 290px !important;} } */

.removeItemBtn{
		color: red !important;
		position: relative;
		visibility: hidden;
		left: 245px;
	    top: -8px;
	    opacity: 0.7;
}
.removeItemBtn:hover { color: #eee !important; }

.listMenu{
	height: 30px;
    color: #eee;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-top: 0px !important;    
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.listMenu:hover{ color: #0966c6; cursor: pointer; }
.listMenu:nth-child(1) {
	border-right: 1px solid rgba(255,255,255,0.3);
}
.selectedMenu{
	border-bottom: 3px solid #0966c6;
}

#coinList{
	display: none;
}
#coinListAll{
	display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 412px;
}


::-webkit-scrollbar{width: 5px; opacity: 0; }
::-webkit-scrollbar-thumb{width: 5px; background: #aaa; border-radius: 2px;}
::-webkit-scrollbar-track{width: 5px; opacity: 0; }

#coinListAll:hover{
	overflow-y: overlay;
}


/* header Page CSS */
#signDiv, #userDiv { display: none; }

/* signIn Page CSS */
.clearInputNoBorder{
	border:none;
	border-bottom: 1px solid rgba(255,255,255,0.7) !important;
}
.clearInputNoBorder:focus {
	border:none;
	outline: none;
}
.clearInputNoBorder::placeholder{
	color : rgba(238,238,238,0.9);
}
#inputId{
	color: #eee;
	height: 30px;
}
#inputPassword{
	color: #eee;
	height: 30px; 
}


.far.fa-star{
	color : #eee;
}
.fas.fa-star{
	color : #321ED6;
}

#depthChart{
	max-height: 200px;
}

.removeItemDiv{
	position:absolute;
	visibility: hidden;
}